body {
	font-size: 12px;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-top: 10%;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-ms-animation-delay: 1s;
}

.name {
	font-size: 3em;
	margin-bottom: 40px;
}

.links a {
	text-decoration: none;
	color: #333;
	font-weight: 100;
}

.links a:first-child {
	padding: 10px;
}

